<!doctype html>
<!--ejs-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>

    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="../lib/jquery.js"></script>
    <script src="../lib/underscore.js"></script>
    <script src="../lib/backbone.js"></script>
    <script src="../lib/handlebars.js"></script>

    <script src='app.js'></script>
    <script src='router.js'></script>
    <script>
$(function(){
  new Shortly();
});
    </script>

    <script src='loginView.js'></script>
    <script src='SignupView.js'></script>

    <script src='link.js'></script>
    <script src='links.js'></script>
    <script src='linkView.js'></script>
    <script src='linksView.js'></script>
    <script src='createLinkView.js'></script>

  </head>

  <body>
    <h1>Shortly</h1>
  </body>
</html>
